[Unit]
Description=Gopher server, written in Go
After=network.target

[Service]
Type=simple
User=gopher
Group=gopher
WorkingDirectory=/etc/gogogopher
ExecStart=/usr/local/bin/gogogopher
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target